@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

$colo1: #03131B;

:root {
    --color1: #03131B;
    --color2: #081623;
    --color3: #0B3245;
    --color4: #478F96;
    --color5: #003127;
    --color6: #00b21bb0;
    --color7: #00B21B;
    --color8: #fff;
    --fontMain: "Lato", sans-serif;
    --fontSecundary: "Istok Web", sans-serif;
    --fontSize14: 14px;
    --fontSize18: 18px;
    --fontSize48: 48px;
    --borderRadius10: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color1);
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 117px;

    & #slogan-titleMain {
        display: flex;
        width: 245.35px;
        height: 100%;
        cursor: pointer;
        & img {
            width: 90px;
            height: 82px;
            align-self: center;
        }
        & #titles {
            align-self: center;
            gap: 0px 10px;
            & h1 {
                text-align: center;
                color: var(--color8);
                font-weight: 400;
                font-size: var(--fontSize14);
                font-family: var(--fontSecundary);
            }
            & h2 {
                font-size: 6px;
                color: var(--color8);
                font-weight: 400;
                font-family: var(--fontSecundary);
            }
        }
    }
    & #menu {
        width: 489px;
        height: 100%;
        & ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            list-style: none;
            & li {
                & a {
                    color: var(--color8);
                    text-decoration: none;
                    font-size: var(--fontSize18);
                    font-weight: 400;
                    font-family: var(--fontMain);
                    position: relative;
                }
                & a::after {
                    content: " ";
                    width: 0%;
                    height: 2px;
                    background-color: var(--color7);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.5s ease-in-out;
                }
                & a:hover::after {
                    width: 100%;
                }
            }
        }
    }
    & #btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 210px;
        height: 100%;
        & .btn {
            width: 100px;
            height: 49px;
            border: none;
            cursor: pointer;
            font-weight: 600;
            color: var(--color8);
            font-size: var(--fontSize18);
            font-family: var(--fontMain);
            border-radius: var(--borderRadius10);
        }
        & #login {
            background-color: var(--color5);
            border: 2px solid var(--color6);
        }
        & #signUp {
            box-shadow: 1px 4px 10px #2fff0038;
            background-color: var(--color7);
        }
    }
}

main {
    height: 100%;
    height: 100%;
    & #section-home {
        width: 100%;
        height: 100%;
        & #infoHome {
            & h3 {
                font-size: var(--fontSize48);
                font-weight: 300;
                color: var(--color8);
                font-family: var(--fontMain);
            }
            & h2 {
                font-size: var(--fontSize48);
                color: var(--color8);
                font-family: var(--fontMain);
            }
            & p {
                width: 347px;
                font-size: 18px;
                font-weight: 300;
                color: var(--color8);
                font-family: var(--fontMain);
            }
            & #btn-initial {
                box-shadow: 0px 6px 20px #2fff0040;
                background-color: var(--color7);
            }
            & #btn-google {
                border: 2px solid var(--color6);
                background-color: var(--color5);
                & i {
                    font-size: 17px;
                }
            }
            
        }
    }
}