/* Responsividade */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container #info {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .container #info h1 {
        font-size: 1.75rem;
        align-self: center;
    }
    .container #info p {
        font-size: 0.875rem;
    }
    .container #formCadastro {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 115vw;
        #info {
            h1 {
                align-self: center;
                font-size: 1.5rem;
                margin: 0;
            }
            p {
                font-size: 0.75rem;
                margin-top: 10px;
                align-self: center;
            }
            img {
                width: 20rem;
                height: 10rem;
            }
        }
        #formCadastro {
            width: 100%;
            gap: 10px 0px;
            h2 {
                font-size: 1.25rem;
            }
            form {
                display: flex;
                justify-content: center;
                width: 90vw;
                .input-single {
                    width: 90%;
                }
            }
        }
    }
}