@use './../settings/settings' as config;

.container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    #formCadastro {
        width: 464px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 20px;
        .title-form {
            display: flex;
            align-items: center;
            gap: 0px 10px;
            h1 {
                font-size: 2.125rem;
                color: config.$color8;
                font-weight: config.$fontPeso;
            }
            img {
                width: 5rem;
                height: 5rem;
            }
        }
        .form-paragraph  {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                align-self: center;
                color: #525252;
                font-size: 1.75rem;
                font-weight: 600;
            }   
            p {
                color: config.$color8;
                font-weight: config.$fontPeso;
                width: 21.9375rem;
                align-self: center;
            }
        }
        p {
            align-self: center;
            color: #A1A1A1;
            font-weight: 600;
        }
        form {
            align-self: center;
            display: flex;
            flex-direction: column;
            color: config.$color8;
            gap: 15px 0px;
            width: 29rem;
            .input-single {
                position: relative;
            }
            .input {
                width: 100%;
                border: none;
                outline: 0;
                padding: 10px;
                border-bottom: 2px solid config.$color8;
                background-color: transparent;
                color: config.$color8;
                &:focus ~ label, &:valid ~ label {
                    transform: translateY(-24px);
                    font-size: 12px;
                }
            }
            label {
                position: absolute;
                left: 0;
                bottom: 5px;
                transition: 0.5s ease-in-out;
                font-size: config.$fontSize14;
                color: #A1A1A1;
            }
            .input__icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                color: #6F7E8C;
            }
            .password-strength {
                margin-top: 10px;
            }
            .progress-bar {
                transition: width 0.3s ease;
            }
            .password-strength-items li {
                font-size: 0.9rem;
                list-style: none;
                margin-bottom: 5px;
            }
            .password-strength-items li img {
                width: 20px;
                height: 20px;
            }
        }
        #btnCadastrar {
            height: 40px;
            padding: 5px;
            border: none;
            cursor: pointer;
            font-weight: 600;
            color: config.$color8;
            font-size: 16px;
            border-radius: 5px;
            background-color: config.$color7;
        }
        #btnLogin {
            height: 40px;
            padding: 5px;
            border: none;
            cursor: pointer;
            font-weight: 600;
            color: config.$color8;
            font-size: 16px;
            border-radius: 5px;
            background-color: config.$color7;
        }
        #accountExist {
            align-self: flex-start;
            font-weight: config.$fontPeso;
            font-size: config.$fontSize14;
            a {
                text-decoration: none;
                color: #00b21bb9;
            }
        }
    }
}