@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #03131B !important;
}

/* Estilo do menu hamburguer */
#menuMobile {
  display: none;
  /* Navbar fixa no bottom */
}
#menuMobile header button i {
  color: rgba(0, 178, 27, 0.6901960784);
}
#menuMobile header span {
  color: #fff;
}
#menuMobile header i {
  color: rgba(0, 178, 27, 0.6901960784);
}
#menuMobile .offcanvas {
  width: 250px;
  color: #fff;
  background-color: #081623;
}
#menuMobile .offcanvas-header {
  background-color: #0B3245;
}
#menuMobile .offcanvas-header button {
  color: rgba(0, 178, 27, 0.6901960784);
}
#menuMobile .nav-link-custom {
  color: #fff;
  font-weight: 500;
}
#menuMobile .nav-link-custom:hover {
  color: #003127;
  border-radius: 5px;
}
#menuMobile .bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #003127;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#menuMobile .bottom-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}
#menuMobile .bottom-nav a.active {
  color: rgba(0, 178, 27, 0.6901960784);
}

#perfilMenu {
  position: absolute;
  z-index: 2;
  top: 4rem;
  right: 0.5rem;
  color: #fff;
}
#perfilMenu .dropdow__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
  width: 19rem;
  right: 1rem;
  padding: 1rem;
  background-color: #081623;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(129, 129, 129, 0.2);
}
#perfilMenu .dropdown__wrapper--fade-in {
  animation: fadeInAnimation ease-in-out 0.3s forwards;
}
#perfilMenu .none {
  display: none;
}
#perfilMenu .hide {
  opacity: 0;
  visibility: hidden;
  animation: fadeInAnimation ease-in-out 0.3s forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
}
#perfilMenu .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
#perfilMenu .text-email {
  color: #9e9a9a;
}
#perfilMenu .nav-link-custom {
  color: #478F96;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
#perfilMenu .nav-link-custom i {
  font-size: 1.2rem;
  color: #9b9999;
}
#perfilMenu .nav-link-custom:hover {
  background-color: #478F96;
  color: #f1f1f1;
}
#perfilMenu .upgrade-btn {
  background-color: #e0ebff;
  color: #00B21B;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
#perfilMenu .upgrade-btn:hover {
  background-color: #4c6ef5;
  color: #ffffff;
}
#perfilMenu .footer {
  font-size: 0.9rem;
  color: #6c757d;
}
#perfilMenu .exit {
  color: #478F96;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
#perfilMenu .exit i {
  font-size: 1.2rem;
  color: #9b9999;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.navbar .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}
.navbar .navbar-brand:hover {
  color: #ccc;
}
.navbar .nav-icon {
  display: flex;
  align-items: center;
}
.navbar .nav-icon .bi-bell {
  background-color: rgba(0, 178, 27, 0.7333333333);
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 8px;
  width: 52px;
  height: 44px;
  cursor: pointer;
  text-align: center;
}
.navbar .nav-icon .nav-divider {
  height: 30px;
  border-left: 1px solid #495057;
  margin: 0 15px;
}
.navbar .nav-icon .user-profile {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 0.9rem;
}
.navbar .nav-icon .user-profile .user-circle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 10px;
}

.containerViewIot {
  display: grid;
  gap: 1rem;
  grid-template-areas: "sidebar navbar navbar" "sidebar containerIot containerIot" "sidebar containerIot containerIot";
  grid-template-columns: 5% 3fr 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}
.containerViewIot .containerIot {
  grid-area: containerIot;
}
.containerViewIot .sidebar {
  grid-area: sidebar;
  min-width: 80px;
}
.containerViewIot .navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerViewIot #navBottom {
  display: none !important;
}
@media (max-width: 576px) {
  .containerViewIot {
    grid-template-areas: "menuMobile" "card" "historico" "climaTempo" "tanque";
    grid-template-columns: 1fr;
  }
  .containerViewIot .sidebar,
  .containerViewIot .navbar {
    display: none;
  }
  .containerViewIot #menuMobile {
    display: block;
  }
  .containerViewIot #navBottom {
    display: block;
  }
}

.sidebar {
  width: 80px;
  background-color: #081623;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 20px;
  box-shadow: 0px 0 23.1px rgba(255, 255, 255, 0.042);
}
.sidebar .part {
  width: 44px;
  height: 2px;
  background-color: #2D2F39;
}
.sidebar .logo {
  margin-bottom: 30px;
}
.sidebar .logo img {
  width: 60px;
  height: 60px;
}
.sidebar .nav {
  display: flex;
  justify-content: space-evenly;
  height: 192px;
}
.sidebar .nav-link {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
  color: #fff;
  transition: background-color 0.3s ease;
}
.sidebar .nav-link .icon {
  color: #fff;
}
.sidebar .nav-link.active {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  border-radius: 8px;
  background-color: rgba(0, 178, 27, 0.4039215686);
}
.sidebar .nav-link.active .icon {
  font-size: 1.5rem;
}
.sidebar .icon-exit {
  cursor: pointer;
  color: #CC8889;
}

.plus-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plus-centered i {
  font-size: 10rem;
  color: #00B21B;
  cursor: pointer;
}

.plus-corner {
  position: absolute;
  bottom: 100px;
  right: 50px;
  top: auto;
  left: auto;
  transform: none;
  width: 60px;
  height: 60px;
  font-size: 18px;
}
.plus-corner i {
  font-size: 5rem;
  color: #00B21B;
  cursor: pointer;
}

#spaceModdal1 {
  position: relative;
}
#spaceModdal1 .overlay .modal-content {
  display: flex;
  align-items: center;
  gap: 10px 0px;
  width: 90rem;
  height: 38rem;
  background-image: url(/public/images/backgroundPageIot.png);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
  transform: translate(-30%, 7%);
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-content {
    width: 90%;
    height: auto;
    padding: 15px;
    transform: none;
    position: relative;
  }
}
#spaceModdal1 .overlay .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5.5625rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-content .modal-header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}
#spaceModdal1 .overlay .modal-content .modal-header .btn {
  margin: 0;
  padding: 0;
}
#spaceModdal1 .overlay .modal-content .modal-header .btn i {
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-content .modal-header .btn i {
    font-size: 1.5rem;
  }
}
#spaceModdal1 .overlay .modal-content .modal-header .modal-title {
  margin: 0;
  padding: 0;
  font-size: 3.25rem;
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-content .modal-header .modal-title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-content .modal-header span h3 {
    font-size: 1.2rem;
  }
}
#spaceModdal1 .overlay .modal-content .modal-header span p {
  margin: 0;
  color: #00FF27;
  font-size: 1.3125rem;
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-content .modal-header span p {
    font-size: 1rem;
  }
}
#spaceModdal1 .overlay .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 67.1875rem;
  height: 46.6875rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-body {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
#spaceModdal1 .overlay .modal-body .single-input input {
  width: 28.0625rem;
  color: #fff;
  outline: 0;
  box-shadow: none;
  border: 2px solid #00B21B;
  background-color: #003127;
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .modal-body .single-input input {
    width: 100%;
    font-size: 1rem;
  }
}
#spaceModdal1 .overlay .modal-body .single-input input::placeholder {
  color: rgba(255, 255, 255, 0.4980392157);
}
#spaceModdal1 .overlay .btn-green {
  background-color: #00B21B;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  #spaceModdal1 .overlay .btn-green {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

#prepareCel {
  position: relative;
}
#prepareCel .overlay .modal-content {
  display: flex;
  align-items: center;
  gap: 10px 0px;
  width: 90rem;
  height: 38rem;
  background-image: url(/public/images/backgroundPageIot.png);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
  transform: translate(-30%, 7%);
}
@media (max-width: 768px) {
  #prepareCel .overlay .modal-content {
    width: 90%;
    height: auto;
    padding: 15px;
    transform: none;
    position: relative;
  }
}
#prepareCel .overlay .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5.5625rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #prepareCel .overlay .modal-content .modal-header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}
#prepareCel .overlay .modal-content .modal-header .btn {
  margin: 0;
  padding: 0;
}
#prepareCel .overlay .modal-content .modal-header .btn i {
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 768px) {
  #prepareCel .overlay .modal-content .modal-header .btn i {
    font-size: 1.5rem;
  }
}
#prepareCel .overlay .modal-content .modal-header .modal-title {
  margin: 0;
  padding: 0;
  font-size: 3.25rem;
}
@media (max-width: 768px) {
  #prepareCel .overlay .modal-content .modal-header .modal-title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  #prepareCel .overlay .modal-content .modal-header span h3 {
    font-size: 1.2rem;
  }
}
#prepareCel .overlay .modal-content .modal-header span p {
  margin: 0;
  color: #00FF27;
  font-size: 1.3125rem;
}
@media (max-width: 768px) {
  #prepareCel .overlay .modal-content .modal-header span p {
    font-size: 1rem;
  }
}
#prepareCel .overlay .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 67.1875rem;
  height: 46.6875rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #prepareCel .overlay .modal-body {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
#prepareCel .overlay .modal-body .steps h3 {
  font-size: 2.125rem;
  font-weight: 600;
}
#prepareCel .overlay .modal-body .steps .description-steps {
  padding: 10px;
  border-radius: 0.3125rem;
  border: 2px solid #003127;
  background-color: rgba(0, 178, 27, 0.7725490196);
}
#prepareCel .overlay .modal-body .confirm-steps label {
  font-size: 1.25rem;
}
#prepareCel .overlay .btn-green {
  background-color: #00B21B;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  #prepareCel .overlay .btn-green {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

#configureWifi {
  position: relative;
}
#configureWifi .overlay .modal-content {
  display: flex;
  align-items: center;
  gap: 10px 0px;
  width: 90rem;
  height: 38rem;
  background-image: url(/public/images/backgroundPageIot.png);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
  transform: translate(-30%, 7%);
}
@media (max-width: 768px) {
  #configureWifi .overlay .modal-content {
    width: 90%;
    height: auto;
    padding: 15px;
    transform: none;
    position: relative;
  }
}
#configureWifi .overlay .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5.5625rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #configureWifi .overlay .modal-content .modal-header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}
#configureWifi .overlay .modal-content .modal-header .btn {
  margin: 0;
  padding: 0;
}
#configureWifi .overlay .modal-content .modal-header .btn i {
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 768px) {
  #configureWifi .overlay .modal-content .modal-header .btn i {
    font-size: 1.5rem;
  }
}
#configureWifi .overlay .modal-content .modal-header .modal-title {
  margin: 0;
  padding: 0;
  font-size: 3.25rem;
}
@media (max-width: 768px) {
  #configureWifi .overlay .modal-content .modal-header .modal-title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  #configureWifi .overlay .modal-content .modal-header span h3 {
    font-size: 1.2rem;
  }
}
#configureWifi .overlay .modal-content .modal-header span p {
  margin: 0;
  color: #00FF27;
  font-size: 1.3125rem;
}
@media (max-width: 768px) {
  #configureWifi .overlay .modal-content .modal-header span p {
    font-size: 1rem;
  }
}
#configureWifi .overlay .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 67.1875rem;
  height: 46.6875rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #configureWifi .overlay .modal-body {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
#configureWifi .overlay .modal-body .steps h3 {
  font-size: 2.125rem;
  font-weight: 600;
}
#configureWifi .overlay .modal-body .steps hr {
  border: 1.5px solid;
  color: #00B21B;
}
#configureWifi .overlay .modal-body .input-single {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 10px 0px;
  height: 100%;
}
#configureWifi .overlay .modal-body .input-single #wifi {
  width: 35.5625rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #00B21B;
  background-color: transparent;
}
#configureWifi .overlay .modal-body .input-single #passwordWifi {
  width: 35.5625rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #00B21B;
  background-color: transparent;
}
#configureWifi .overlay .modal-body .input-single ::placeholder {
  color: #fff;
}
#configureWifi .overlay .modal-body .confirm-steps label {
  font-size: 1.25rem;
}
#configureWifi .overlay .btn-green {
  background-color: #00B21B;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  #configureWifi .overlay .btn-green {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

#finalizarIoT {
  position: relative;
}
#finalizarIoT .overlay .modal-content {
  display: flex;
  align-items: center;
  gap: 10px 0px;
  width: 90rem;
  height: 38rem;
  background-image: url(/public/images/backgroundPageIot.png);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
  transform: translate(-30%, 7%);
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .modal-content {
    width: 90%;
    height: auto;
    padding: 15px;
    transform: none;
    position: relative;
  }
}
#finalizarIoT .overlay .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5.5625rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .modal-content .modal-header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}
#finalizarIoT .overlay .modal-content .modal-header .btn {
  margin: 0;
  padding: 0;
}
#finalizarIoT .overlay .modal-content .modal-header .btn i {
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .modal-content .modal-header .btn i {
    font-size: 1.5rem;
  }
}
#finalizarIoT .overlay .modal-content .modal-header .modal-title {
  margin: 0;
  padding: 0;
  font-size: 3.25rem;
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .modal-content .modal-header .modal-title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .modal-content .modal-header span h3 {
    font-size: 1.2rem;
  }
}
#finalizarIoT .overlay .modal-content .modal-header span p {
  margin: 0;
  color: #00FF27;
  font-size: 1.3125rem;
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .modal-content .modal-header span p {
    font-size: 1rem;
  }
}
#finalizarIoT .overlay .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 67.1875rem;
  height: 46.6875rem;
  border-radius: 0.625rem;
  background-color: rgba(11, 50, 69, 0.8392156863);
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .modal-body {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
#finalizarIoT .overlay .modal-body .steps h3 {
  font-size: 2.125rem;
  font-weight: 600;
}
#finalizarIoT .overlay .modal-body .steps hr {
  border: 1.5px solid;
  color: #00B21B;
}
#finalizarIoT .overlay .modal-body .description-info-iot {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px 0px;
}
#finalizarIoT .overlay .modal-body .description-info-iot img {
  width: 20rem;
  height: 10rem;
}
#finalizarIoT .overlay .modal-body .description-info-iot .description-un {
  display: flex;
  width: 20.375rem;
}
#finalizarIoT .overlay .modal-body .description-info-iot .description-un p {
  padding: 5px;
  font-size: 1.1875rem;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  background-color: #081623;
  width: 100%;
}
#finalizarIoT .overlay .modal-body .description-info-iot .description-un #nameEspace {
  padding: 5px;
  font-size: 1.1875rem;
  border: 1px solid #081623;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  background-color: rgba(8, 22, 35, 0.4196078431);
}
#finalizarIoT .overlay .modal-body .description-info-iot .description-two {
  display: flex;
  width: 20.375rem;
}
#finalizarIoT .overlay .modal-body .description-info-iot .description-two p {
  padding: 5px;
  font-size: 1.1875rem;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  background-color: #081623;
  width: 100%;
}
#finalizarIoT .overlay .modal-body .description-info-iot .description-two #nameWifi {
  padding: 5px;
  font-size: 1.1875rem;
  border: 1px solid #081623;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  background-color: rgba(8, 22, 35, 0.4196078431);
}
#finalizarIoT .overlay .modal-body .confirm-steps label {
  font-size: 1.25rem;
}
#finalizarIoT .overlay .btn-green {
  background-color: #00B21B;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  #finalizarIoT .overlay .btn-green {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

/* Container dos cards */
#cardContainer {
  position: absolute;
  left: 10%;
  top: 10%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  /* Card básico */
}
#cardContainer .card-iot {
  width: 19.1875rem;
  height: 17rem;
  padding: 10px;
  color: white;
  border-radius: 10px;
  background: #081623;
  box-shadow: 0px 0px 16.3px rgba(255, 255, 255, 0.164);
}
#cardContainer .card-iot .card-header {
  display: flex;
  justify-content: space-between;
}
#cardContainer .card-iot .card-header p {
  font-size: 1rem;
}
#cardContainer .card-iot .card-header .delete-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
#cardContainer .card-iot img {
  width: 100%;
  height: auto;
}
#cardContainer .card-iot .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cardContainer .card-iot .card-body .info-card {
  display: flex;
  flex-direction: column;
}
#cardContainer .card-iot .card-body .info-card h4 {
  font-size: 1rem;
  margin: 0;
}
#cardContainer .card-iot .card-body .info-card p {
  font-size: 0.5625rem;
  color: rgba(255, 255, 255, 0.1960784314);
  margin: 0;
  padding: 0;
}
#cardContainer .card-iot .card-body .btnOn {
  width: 2.25rem;
  height: 2.3125rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
#cardContainer .card-iot .card-body .btnOn i {
  padding: 5px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #0B3245;
}

/*# sourceMappingURL=viewIots.css.map */
