$fontMain: "Lato", sans-serif;
$fontSecundary: "Istok Web", sans-serif;
$fotnCadastro: "Poppins", sans-serif;
$fontSize14: 0.875rem;
$fontSize18: 1.125rem;
$fontSize48: 3rem;
$fontPeso: 400;
$fontPeso300: 300;